.App{
    background-color: rgb(185, 198, 216); 
    min-height: 100%;
    
}
/* estilização das mensagens de erro */
.error{
    color: red;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Pg login */
.fonte_titulo{
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 64px;
  
}
.fonte_botao{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 24px;    
}
.sombra_branca{
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
    width: 327px;
    height: 46px;
    background-color: #0000ff;
    border:#0000ff 1px solid
}


/* fim Pg login */

/* NAV BAR */
.bg-custom-blue {
  background-color: #081F66 !important;
}
/* FIM NAVBAR */